@using Microsoft.Extensions.Options
@inject IOptions<ExpressEntryStats> expressEntryStatsAccessor
@{ 
    var expressEntryStats = expressEntryStatsAccessor.Value;
}

<div class="alert alert-info" role="alert">
    Last round of invitations to apply for permanent residence under the Express Entry was on <strong style="white-space: nowrap">@expressEntryStats.RoundDate.ToShortDateString()</strong>.
    The lowest score to be invited was <strong>@expressEntryStats.LowestScore</strong>.
    <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/rounds-invitations.html" target="_blank" style="text-decoration:underline">Click here for more information</a>.
</div>