@model ApplicantDataViewModel

<div class="row">
    <div class="col-xs-12">
        @await Html.PartialAsync("ExpressEntryStats")
    </div>
</div>

<div class="row" id="calculator">
    <div class="col-md-12 col-xs-12">
        <h1>Express Entry Calculator</h1>
        <form asp-controller="Home" asp-action="Summary" method="post" class="form-horizontal">

            <div class="form-group">
                <label asp-for="BirthDate" class="col-xs-12 col-md-6">Please provide your date of birth.</label>
                <div class="col-xs-12 col-md-3">
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label>
                        Please select the level of your education.
                    </label>
                    <span class="help-block">(Choose one of the eight options) </span>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        If you earned degree, diploma or certificate outside Canada, you will need to get an Educational Credential Assessments
                        (ECA) for your degree, diploma or certificate from designated organizations (ECA report must not be more than five years old.).
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/education-assessed.html" target="_blank">Read more</a>
                    </span>
                </div>

                <div class="col-xs-12 col-md-6">
                    @foreach (var item in Model.EducationLevels)
                    {
                        <div class="radio">
                            <label><input name="EducationLevel" type="radio" value="@item.Value" />@item.Text</label>
                        </div>
                    }
                    <span asp-validation-for="EducationLevel" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="TypeOfFirstExam">
                        What type of exam did you pass?
                    </label>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        You must take an approved language test to be eligible for Express Entry!
                    </span>
                    <span class="help-block">
                        Read more about approved language test:
                        <a href="https://www.ielts.org/" target="_blank">IELTS</a>,
                        <a href="https://www.celpip.ca/" target="_blank">CELPIP</a>,
                        <a href="https://www.lefrancaisdesaffaires.fr/tests-diplomes/test-evaluation-francais-tef/tef-canada/" target="_blank">TEF</a>.
                    </span>
                    <span class="help-block">
                        Your test results must be less than two years old. <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/language-requirements/language-testing.html" role="button" target="_blank">Read more</a>
                    </span>

                </div>
                <div class="col-xs-12 col-md-3">
                    <select asp-for="TypeOfFirstExam" asp-items="Model.ExamTypes" class="form-control" onchange="showhideTypeOfExam(this)"></select>
                </div>
            </div>

            <div style="display:none" id="examPointsForm">
                <div class="form-group">
                    <label asp-for="SpeakingPoints" class="col-xs-12 col-md-6">How many points did you get for speaking?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="SpeakingPoints" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="SpeakingPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="WritingPoints" class="col-xs-12 col-md-6">How many points did you get for writing?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="WritingPoints" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="WritingPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ReadingPoints" class="col-xs-12 col-md-6">How many points did you get for reading?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ReadingPoints" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ReadingPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ListeningPoints" class="col-xs-12 col-md-6">How many points did you get for listening?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ListeningPoints" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ListeningPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SecondLanguage" class="col-xs-12 col-md-6">Did you pass second language exam? </label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="SecondLanguage" onclick="showHideSecondLanguage(this)" />
                    </div>
                </div>
            </div>


            <div style="display:none" id="secondLanguageForm">

                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label asp-for="TypeOfSecondExam">What type of second exam did you pass?</label>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            You must take an approved language test to be eligible for Express Entry!
                        </span>
                        <span class="help-block">
                            Read more about approved language test:
                            <a href="https://www.ielts.org/" target="_blank">IELTS</a>,
                            <a href="https://www.celpip.ca/" target="_blank">CELPIP</a>,
                            <a href="https://www.lefrancaisdesaffaires.fr/tests-diplomes/test-evaluation-francais-tef/tef-canada/" target="_blank">TEF</a>.
                        </span>
                        <span class="help-block">
                            Your test results must be less than two years old. <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/language-requirements/language-testing.html" role="button" target="_blank">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <select asp-for="TypeOfSecondExam" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SpeakingPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for speaking in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="SpeakingPointsSecondLanguage" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="SpeakingPointsSecondLanguage" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="WritingPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for writing in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="WritingPointsSecondLanguage" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="WritingPointsSecondLanguage" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ReadingPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for reading in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ReadingPointsSecondLanguage" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ReadingPointsSecondLanguage" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label asp-for="ListeningPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for listening in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ListeningPointsSecondLanguage" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ListeningPointsSecondLanguage" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="CanadianExperience">How many years of skilled work experience do you have in the Canadian labour market in the last ten years?</label>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        To be eligible for Express Entry, your work experience (your occupation) must be classified in the National Occupational Classification
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/find-national-occupation-code.html" target=" _blank">(NOC)</a>.
                    </span>
                    <span class="help-block">
                        Your work experience must also be paid work and classified as Skill Type 0, or Skill Levels A or B.
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank">Read more</a>
                    </span>
                    <span class="help-block">
                        Your work experience is calculated after having completed the full year worked. If you have worked less than a year, choose "none or less than a year". There is no rounding up.
                        1 year full time (1,560 hours total) means
                        30 hours/week for 12 months (full-time work which could be performed for more then one employer) or
                        15 hours/week for 24 months (part-time work)
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank">Read more</a>
                    </span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <select asp-for="CanadianExperience" asp-items="Model.YearsOfCanadianExperience" class="form-control"></select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="ExperienceOutsideCanada">How many years of foreign skilled work experiencein (outside Canada) do you have in the last ten years?</label>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        To be eligible for Express Entry, your work experience (your occupation) must be classified in the National Occupational Classification
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/find-national-occupation-code.html" target=" _blank">(NOC)</a>.
                    </span>
                    <span class="help-block">
                        Your work experience must also be paid work and classified as Skill Type 0, or Skill Levels A or B.
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank">Read more</a>
                    </span>
                    <span class="help-block">
                        Your work experience is calculated after having completed the full year worked. If you have worked less than a year, choose "none or less than a year". There is no rounding up.
                        1 year full time (1,560 hours total) means
                        30 hours/week for 12 months (full-time work which could be performed for more then one employer) or
                        15 hours/week for 24 months (part-time work)
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank">Read more</a>
                    </span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <select asp-for="ExperienceOutsideCanada" asp-items="Model.YearsOfExperienceOutsideCanada" class="form-control"> </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CanadianFamilyMember" class="col-xs-12 col-md-6">Do you or your spouse or common law partner (who will be included in your application under Express Entry) have brother or sister living in Canada who is a citizen or permanent resident of Canada? </label>
                <div class="col-xs-12 col-md-2">
                    <input asp-for="CanadianFamilyMember" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CanadianEducation" class="col-xs-12 col-md-6">Have you graduated post-secondary education in Canada?</label>
                <div class="col-xs-12 col-md-5">
                    <select asp-for="CanadianEducation" asp-items="Model.EducationsInCanada" class="form-control"></select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="CanadianArrangedEmployment">Do you have arranged employment in Canada (valid job offer)?</label>
                    <span class="help-block">
                        Your valid job offer must be classified in the National Occupational Classification (NOC) as Skill Type 0, or Skill Level A or B
                        and not be from an embassy, high commission or consulate in Canada. It must be also full-time, paid work.
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/offer-employment.html" target="_blank">Check</a>
                        other requirements that the job offer must meet to be valid.
                    </span>
                    <span class="help-block">
                        Your valid job offer must be supported by a Labour Market Impact Assessment (LMIA).
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/offer-employment/lmia-exempt.html" target="_blank">Check</a>
                        the exclusions for this requirement.
                    </span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <select asp-for="CanadianArrangedEmployment" asp-items="Model.EmploymentInCanada" class="form-control"></select>
                </div>
            </div>


            <div class=" form-group">
                <label asp-for="CanadianProvincialOrTerritorialNomination" class="col-xs-12 col-md-6">Have you got provincial or territorial nomination? </label>
                <div class="col-xs-12 col-md-2">
                    <input asp-for="CanadianProvincialOrTerritorialNomination" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="SpouseExist">
                        Do you have spouse or common - law partner who will be included in your application under Express Entry?
                    </label>
                    <span class="help-block"> <strong>Warning:</strong> If your spouse or common - law partner is citizen or permanent resident of Canada can not be included in your application under Express Entry.</span>
                </div>
                <div class="col-xs-12 col-md-2">
                    <input asp-for="SpouseExist" onclick="showHideSpouseExist(this)" />
                </div>
            </div>

            <div style="display:none" id="spouseExistForm">
                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label>Please select the level of education of spouse or common-law partner. </label>
                        <span class="help-block">(Choose one of the eight options)</span>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            If your spouse or common-law partner earned degree, diploma or certificate outside Canada, it will be needed to get an Educational Credential Assessments
                            (ECA) for your spouse's or common-law partner's degree, diploma or certificate from designated organizations (ECA report must not be more than five years old.).
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/education-assessed.html" target="_blank">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @foreach (var item in Model.EducationLevels)
                        {
                            <div class="radio">
                                <label><input name="SpouseEducationLevel" type="radio" value="@item.Value" /> @item.Text</label>
                            </div>
                        }
                        <span asp-validation-for="SpouseEducationLevel" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label asp-for="TypeOfSpouseExam">What type of exam did your spouse or common-law partner pass?</label>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            Your spouse or common-law partner must take an approved language test to be eligible for Express Entry!
                        </span>
                        <span class="help-block">
                            Read more about approved language test:
                            <a href="https://www.ielts.org/" target="_blank">IELTS</a>,
                            <a href="https://www.celpip.ca/" target="_blank">CELPIP</a>,
                            <a href="https://www.lefrancaisdesaffaires.fr/tests-diplomes/test-evaluation-francais-tef/tef-canada/" target="_blank">TEF</a>.
                        </span>
                        <span class="help-block">
                            Your spouse's or common-law partner's test results must be less than two years old. <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/language-requirements/language-testing.html" role="button" target="_blank">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <select asp-for="TypeOfSpouseExam" asp-items="Model.ExamTypes" class="form-control" onchange="showhideTypeOfSpouseExam(this)"></select>
                    </div>
                </div>


                <div style="display:none" id="spouseExamPointsForm">
                    <div class="form-group">
                        <label asp-for="SpouseSpeakingPoints" class="col-xs-12 col-md-6"> How many points did your spouse or common-law partner get for speaking?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseSpeakingPoints" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseSpeakingPoints" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpouseWritingPoints" class="col-xs-12 col-md-6">How many points did your spouse or common-law partner get for writing?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseWritingPoints" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseWritingPoints" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpouseReadingPoints" class="col-xs-12 col-md-6">How many points did your spouse or common-law partner get for reading?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseReadingPoints" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseReadingPoints" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpouseListeningPoints" class="col-xs-12 col-md-6">How many points did your spouse or common-law partner get for listening?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseListeningPoints" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseListeningPoints" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label asp-for="SpouseCanadianExperience">How many years of skilled work experience in the Canadian labour market has your spouse or common-law partner in the last ten years?</label>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            To be eligible for Express Entry, your spouse's or common-law partner's work experience (occupation) must be classified in the National Occupational Classification
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/find-national-occupation-code.html" target=" _blank">(NOC)</a>.
                        </span>
                        <span class="help-block">
                            Your spouse's or common-law partner's work experience must also be paid work and classified as Skill Type 0, or Skill Levels A or B.
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank">Read more</a>
                        </span>
                        <span class="help-block">
                            Your spouse's or common-law partner's work experience is calculated after having completed the full year worked. If your spouse or common-law partner has worked less than a year, choose "none or less than a year". There is no rounding up.
                            1 year full time (1,560 hours total) means
                            30 hours/week for 12 months (full-time work which could be performed for more then one employer) or
                            15 hours/week for 24 months (part-time work)
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <select asp-for="SpouseCanadianExperience" asp-items="Model.YearsOfCanadianExperience" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-lg btn-primary center-block">Calculate</button>
            </div>
        </form>
    </div>
</div>

<div class="row" id="disclaimer">
    <div class="col-xs-12">
        <div class="alert alert-warning" style="margin-top:25px">
            <strong>Disclaimer!</strong> The information contained in this website is provided for general information purposes only.
            Before relying on information contained in this website, users should carefully evaluate its accuracy, completeness, availability,
            reliability and relevance to their particular purpose. Nothing contained in this website is to be used as professional advice and this
            website is not a substitute for the advice of a lawyer, especially qualified Canadian immigration lawyer. Any reliance you place on
            such information is therefore strictly at your own risk. The creator of the Express Entry Calculator is not responsible for, and
            expressly disclaims all liability for any loss or damage incurred by use of or reliance on the Express Entry Calculator or the information
            contained within this website and cannot guarantee and assumes no legal liability or responsibility for the accuracy or completeness of
            the information and up-to-date. Through this website you are able to link to other websites which are not under the control of creator
            of the Express Entry Calculator. The Creator of the Express Entry Calculator is not responsible for the accuracy or content of information
            contained in these sites and have no control over the nature, content and availability of those sites.
        </div>
    </div>
</div>

<div class="row" id="faq">
    <div class="col-xs-12">
        <h1>FAQ</h1>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="questionOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What is Express Entry?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="questionOne">
                    <div class="panel-body">
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry.html" target="_blank">Express Entry</a> is a Canadian immigration system to manage how people with skilled work experience apply to immigrate to Canada.
                        Express Entry is using to manage applications for permanent residence for these <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html" target="_blank">programs</a>:
                        <ul style="list-style-type:disc">
                            <li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank">Federal Skilled Worker Program</a></li>
                            <li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/skilled-trades.html" target="_blank">Federal Skilled Trades Program</a></li>
                            <li><a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/canadian-experience-class.html" target="_blank">Canadian Experience Class</a></li>
                        </ul>
                        Provinces and territories can also recruit candidates from the Express Entry pool through the Provincial Nominee Program (PNP)
                        to meet local labour market needs.
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/corporate/mandate/policies-operational-instructions-agreements/ministerial-instructions.html" target="_blank">Ministerial Instructions</a> set out the rules for the Express Entry application management system.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="questionTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            What is the Provincial Nominee Program?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
                    <div class="panel-body">
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/provincial-nominees.html" target="_blank">Provincial Nominee Program</a> is a program by means of which most provinces and territories in Canada can nominate immigrants.
                        These immigrants must have the skills, education and work experience to contribute to the economy of that province or territory,
                        and must want to live there. Each province and territory has its own “streams” (immigration programs that target certain groups)
                        and criteria for their PNP. For example, in a program stream, provinces and territories may target students, business people,
                        skilled workers or semi-skilled workers.
                        The province of Quebec does not have a PNP. See their immigration website to learn more about <a href="http://www.immigration-quebec.gouv.qc.ca/en/" target="_blank">their programs</a>.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="questionThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            What is the Comprehensive Ranking System?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionThree">
                    <div class="panel-body">
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/criteria-comprehensive-ranking-system.html" target="_blank">The Comprehensive Ranking System</a> is the points-based system using to assess and score your profile and rank you in the Express Entry pool.
                        <ul>
                            <li>
                                The CRS gives you a score from the information in your profile, including your:
                                <ul>
                                    <li>skills</li>
                                    <li>education</li>
                                    <li>language ability</li>
                                    <li>work experience</li>
                                    <li>other factors</li>
                                </ul>
                            </li>
                            <li>
                                The CRS also gives you points for:
                                <ul>
                                    <li>Canadian degrees, diplomas or certificates</li>
                                    <li>a valid job offer</li>
                                    <li>a nomination from a province or territory</li>
                                    <li>other factors</li>
                                </ul>
                            </li>
                        </ul>
                        The Government regularly send invitations to apply to the highest-ranking candidates in the pool. If you are invited, you can apply to immigrate as a permanent resident.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="questionFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How can you immigrate to Canada?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionFour">
                    <div class="panel-body">
                        <ol>
                            <li>Check your number of points for Express Entry using <a href="#">Express Entry Calculator</a>.</li>
                            <li>
                                Create your <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/fill-profile.html" target="_blank">Express Entry profile</a>.
                                <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/works.html" target="_blank">An Express Entry</a> profile is a form where you give Canadian Government information about your:
                                <ul>
                                    <li>skills</li>
                                    <li>education</li>
                                    <li>language ability</li>
                                    <li>work experience</li>
                                    <li>other details</li>
                                </ul>
                                Once you start an Express Entry profile, you have 60 days to complete it.
                                The information in your profile will help Canadian Government see if you are eligible for an immigration program managed by Express Entry.
                                If you meet the criteria, Canadian Government will accept you into its <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/how-pool-works.html" target="_blank">pool of candidates</a>.
                                Getting into the pool doesn't mean that Canadian Government will invite you to apply for permanent residence.
                                To be chosen from the pool you need to have one of the highest-ranking scores when Canadian Government send out invitations.
                                If you are invited, you can apply for permanent residence.
                                When you apply for permanent residence, you will also need to meet eligibility and admissibility requirements under Canada's immigration law.
                            </li>

                            <li>
                                Get to the group of the highest-ranking candidates in the pool to apply for permanent residence and receive an invitation from the Canadian Government.<br/>
                                Canadian Government send
                                <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/invitations-apply.html" target="_blank">invitations to apply</a> to the candidates with the highest scores in the pool. If Government invite you to apply,
                                you will have 90 days to submit an online
                                <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/apply-permanent-residence.html" target="_blank">application for permanent residence</a>.
                                Canadian Government will process most complete applications that have all the supporting documents in six months or less.
                                You can stay in the pool for up to 12 months as long as you meet the criteria for one of the federal programs.
                                You should update your profile anytime as your case changes.
                                If Canadian Government don’t invite you to apply for permanent residence within 12 months of submitting an Express Entry profile, you can submit a new profile.
                                If you still meet the criteria, you will re-enter the pool.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="questionFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How many points do you need to immigrate to Canada?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionFive">
                    <div class="panel-body">
                        There is no fixed minimum number of points, which is enough to guarantee an invitation to apply for permanent residence.
                        However, you can check <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/rounds-invitations.html" target="_blank">the CRS score of the lowest-ranked</a> candidate invited to applying for permanent residence at previous rounds of invitations.

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="questionSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            What is the Express Entry Calculator?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionSix">
                    <div class="panel-body">
                        Express Entry Calculator is a program to calculate points for Express Entry based on Comprehensive Ranking System (CRS) Criteria.
                        Thus, this calculator can estimate your CSR score before creating an Express Entry profile.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

