@model ApplicantDataViewModel
@{
    ViewData["Title"] = "Calculator";
}
<form asp-controller="Home" asp-action="Summary" method="post">
    <br />
    <label>Please provide your first name. <input asp-for="FirstName" placeholder="First name" /></label>
    <br /><br />

    <label>Please provide your last name. <input asp-for="LastName" placeholder="Last name" /></label>
    <br /><br />

    <label>Please provide your date of birth.<input asp-for="BirthDate" placeholder="yyyy-mm-dd" /></label>
    <br /><br />

    <label>Please select the level of your education. </label>
    <select asp-for="EducationLevel" asp-items="Model.EducationLevels"> </select>
    <br /><br />

    <label>What type of exam did you pass?</label>
    <select asp-for ="TypeOfFirstExam" asp-items="Model.ExamTypes"></select>
    <br /><br />

    <label>How many points did you get for speaking?</label>
    <input asp-for="SpeakingPoints" min="0" />
    <br /><br />
    <label>How many points did you get for writing?</label> 
    <input asp-for="WritingPoints" min="0" />
    <br /><br />
    <label>How many points did you get for reading?</label>
    <input asp-for="ReadingPoints" min="0" />
    <br /><br />
    <label>How many points did you get for listening?</label> 
    <input asp-for="ListeningPoints" min="0" />
    <br /><br />

    <label>Did you pass second language exam? <input asp-for="SecondLanguage" /></label> 
    <br /><br />

    <label>What type of second exam did you pass?</label>
    <select asp-for="TypeOfSecondExam" asp-items="Model.ExamTypes"></select>
    <br /><br />

    <label>How many points did you get for speaking in second exam?</label>
    <input asp-for="SpeakingPointsSecondLanguage" min="0" />
    <br /><br />
    <label>How many points did you get for writing in second exam?</label>
    <input asp-for="WritingPointsSecondLanguage" min="0" />
    <br /><br />
    <label>How many points did you get for reading in second exam?</label>
    <input asp-for="ReadingPointsSecondLanguage" min="0" />
    <br /><br />
    <label>How many points did you get for listening in second exam?</label>
    <input asp-for="ListeningPointsSecondLanguage" min="0" />
    <br /><br />

    <label> How many years of work experience do you have in the Canadian labour market? (warning!: The year of experience is calculated after having completed the full year worked. If you have worked less than a year, enter 0. There is no rounding up).</label>
    <input asp-for="CanadianExperience" min="0" />
    <br /><br />



    <label>Do you have spouse or common - law partner? <input asp-for="SpouseExist"/></label>
    <br /><br />
    <label>Please provide fullname your spouse or common - law partner.<input asp-for="SpouseFullname" placeholder="Fullname" /></label> 
    <br /><br />

    <label>Please select the level of education of spouse or common-law partner.</label>
    <select asp-for="SpouseEducationLevel" asp-items="Model.EducationLevels"> </select>
    <br /><br />

    <label>What type of exam did your spouse or common-law partner pass?</label>    
    <select asp-for="TypeOfSpouseExam" asp-items="Model.ExamTypes"></select>
    <br /><br />

    <label> How many points did your spouse or common-law partner get for speaking?</label> 
    <input asp-for="SpouseSpeakingPoints" min="0" />
    <br /><br />
    <label>How many points did your spouse or common-law partner get for writing?</label> 
    <input asp-for="SpouseWritingPoints" min="0" />
    <br /><br />
    <label>How many points did your spouse or common-law partner get for reading?</label> 
    <input asp-for="SpouseReadingPoints" min="0" />
    <br /><br />
    <label>How many points did your spouse or common-law partner get for listening?</label> 
    <input asp-for="SpouseListeningPoints" min="0" />
    <br /><br />

    <label>How many years of work experience in the Canadian labour market has your spouse or common-law partner? (warning!: The year of experience is calculated after having completed the full year worked. If your spouse or common-law partner has worked less than a year, enter 0. There is no rounding up).</label> 
    <input asp-for="SpouseCanadianExperience" min="0" />
    <br /><br />


    <label>How many years of foreign work experiencein (outside Canada) do you have? (warning!: The year of experience is calculated after having completed the full year worked. If your spouse or common-law partner has worked less than a year, enter 0. There is no rounding up).</label> 
    <input asp-for="ExperienceOutsideCanada" min="0" />
    <br /><br />


    <label>Does your brother or sister who is a citizen or permanent resident of Canada live in Canada? (YES or NO)</label> 
    <input asp-for="CanadianFamilyMember" />
    <br />
    <label>Have you graduated post-secondary education in Canada - credential of one or two years (YES or NO)</label> 
    <input asp-for="CanadianEducation" />
    <br />
    <label>Have you graduated post-secondary education in Canada - credential three years or longer (YES or NO)</label> 
    <input asp-for="CanadianLongerEducation" />
    <br />
    <label>Do you have arranged employment – any other NOC 0, A or B (YES or NO)</label> 
    <input asp-for="CanadianArrangedEmployment" />
    <br />
    <label>Do you have arranged employment – any other NOC 00 (YES or NO)</label> 
    <input asp-for="CanadianArrangedEmploymentPlus" />
    <br />
    <label>Have you got provincial or territorial nomination? (YES or NO)</label> 
    <input asp-for="CanadianProvincialOrTerritorialNomination" />
    <br />
  
    <button type="submit">Calculate</button>
</form>
