@model ApplicantDataViewModel
@{
    ViewData["Title"] = "Calculator";
}
<div class="row">
    <div class="col-md-12 col-xs-12">
        <form asp-controller="Home" asp-action="Summary" method="post" class="form-horizontal">

            <div class="form-group">
                <label asp-for="BirthDate" class="col-xs-12 col-md-6">Please provide your date of birth.</label>
                <div class="col-xs-12 col-md-3">
                    <input asp-for="BirthDate" placeholder="yyyy-mm-dd" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="EducationLevel">
                        Please select the level of your education.
                    </label>
                    <span class="help-block">(Choose one of the eight options) </span>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        If you earned degree, diploma or certificate outside Canada, you will need to get an Educational Credential Assessments
                        (ECA) for your degree, diploma or certificate from designated organizations (ECA report must not be more than five years old.).
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/education-assessed.html" target="_blank">Read more</a>
                    </span>
                </div>

                <div class="col-xs-12 col-md-6">
                    @foreach (var item in Model.EducationLevels)
                    {
                        <div class="radio">
                            <label><input asp-for="EducationLevel" type="radio" value="@item.Value" /> @item.Text</label>
                        </div>
                    }
                    <span asp-validation-for="EducationLevel" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="TypeOfFirstExam">
                        What type of exam did you pass?
                    </label>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        You must take an approved language test to be eligible for Express Entry!
                    </span>
                    <span class="help-block">
                        Read more about approved language test:
                        <a href="https://www.ielts.org/" target="_blank">IELTS</a>,
                        <a href="https://www.celpip.ca/" target="_blank">CELPIP</a>,
                        <a href="https://www.lefrancaisdesaffaires.fr/tests-diplomes/test-evaluation-francais-tef/tef-canada/" target="_blank">TEF</a>.
                    </span>
                    <span class="help-block">
                        Your test results must be less than two years old. <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/language-requirements/language-testing.html" role="button" target="_blank">Read more</a>
                    </span>

                </div>
                <div class="col-xs-12 col-md-3">
                    <select asp-for="TypeOfFirstExam" asp-items="Model.ExamTypes" class="form-control" onchange="showhideTypeOfExam(this)"></select>
                </div>
            </div>

            <div style="display:none" id="examPointsForm">
                <div class="form-group">
                    <label asp-for="SpeakingPoints" class="col-xs-12 col-md-6">How many points did you get for speaking?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="SpeakingPoints" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="SpeakingPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="WritingPoints" class="col-xs-12 col-md-6">How many points did you get for writing?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="WritingPoints" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="WritingPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ReadingPoints" class="col-xs-12 col-md-6">How many points did you get for reading?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ReadingPoints" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ReadingPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ListeningPoints" class="col-xs-12 col-md-6">How many points did you get for listening?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ListeningPoints" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ListeningPoints" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SecondLanguage" class="col-xs-12 col-md-6">Did you pass second language exam? </label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="SecondLanguage" onclick="showHideSecondLanguage(this)" />
                    </div>
                </div>
            </div>


            <div style="display:none" id="secondLanguageForm">

                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label asp-for="TypeOfSecondExam">What type of second exam did you pass?</label>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            You must take an approved language test to be eligible for Express Entry!
                        </span>
                        <span class="help-block">
                            Read more about approved language test:
                            <a href="https://www.ielts.org/" target="_blank">IELTS</a>,
                            <a href="https://www.celpip.ca/" target="_blank">CELPIP</a>,
                            <a href="https://www.lefrancaisdesaffaires.fr/tests-diplomes/test-evaluation-francais-tef/tef-canada/" target="_blank">TEF</a>.
                        </span>
                        <span class="help-block">
                            Your test results must be less than two years old. <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/language-requirements/language-testing.html" role="button" target="_blank">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <select asp-for="TypeOfSecondExam" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SpeakingPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for speaking in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="SpeakingPointsSecondLanguage" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="SpeakingPointsSecondLanguage" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="WritingPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for writing in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="WritingPointsSecondLanguage" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="WritingPointsSecondLanguage" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ReadingPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for reading in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ReadingPointsSecondLanguage" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ReadingPointsSecondLanguage" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label asp-for="ListeningPointsSecondLanguage" class="col-xs-12 col-md-6">How many points did you get for listening in second exam?</label>
                    <div class="col-xs-12 col-md-2">
                        <input asp-for="ListeningPointsSecondLanguage" min="0" class="form-control" />
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <span asp-validation-for="ListeningPointsSecondLanguage" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                        <label asp-for="CanadianExperience">How many years of skilled work experience do you have in the Canadian labour market in the last ten years?</label>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        To be eligible for Express Entry, your work experience (your occupation) must be classified in the National Occupational Classification
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/find-national-occupation-code.html" target=" _blank">(NOC)</a>.
                    </span>
                    <span class="help-block">
                        Your work experience must also be paid work and classified as Skill Type 0, or Skill Levels A or B.
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank ">Read more</a>
                    </span>
                    <span class="help-block">
                        Your work experience is calculated after having completed the full year worked. If you have worked less than a year, choose "none or less than a year". There is no rounding up.
                        1 year full time (1,560 hours total) means
                        30 hours/week for 12 months (full-time work which could be performed for more then one employer) or
                        15 hours/week for 24 months (part-time work)
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank ">Read more</a>
                    </span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <select asp-for="CanadianExperience" asp-items="Model.YearsOfCanadianExperience" class="form-control"></select>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="ExperienceOutsideCanada">How many years of foreign skilled work experiencein (outside Canada) do you have in the last ten years?</label>
                    <span class="help-block">
                        <strong>Warning:</strong>
                        To be eligible for Express Entry, your work experience (your occupation) must be classified in the National Occupational Classification
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/find-national-occupation-code.html" target=" _blank">(NOC)</a>.
                    </span>
                    <span class="help-block">
                        Your work experience must also be paid work and classified as Skill Type 0, or Skill Levels A or B.
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank ">Read more</a>
                    </span>
                    <span class="help-block">
                        Your work experience is calculated after having completed the full year worked. If you have worked less than a year, choose "none or less than a year". There is no rounding up.
                        1 year full time (1,560 hours total) means
                        30 hours/week for 12 months (full-time work which could be performed for more then one employer) or
                        15 hours/week for 24 months (part-time work)
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank ">Read more</a>
                    </span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <select select asp-for="ExperienceOutsideCanada" asp-items="Model.YearsOfExperienceOutsideCanada" class="form-control"> </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CanadianFamilyMember" class="col-xs-12 col-md-6">Do you or your spouse or common law partner (who will be included in your application under Express Entry) have brother or sister living in Canada who is a citizen or permanent resident of Canada? </label>
                <div class="col-xs-12 col-md-2">
                    <input asp-for="CanadianFamilyMember" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="CanadianEducation" class="col-xs-12 col-md-6">Have you graduated post-secondary education in Canada?</label>
                <div class="col-xs-12 col-md-5">
                    <select asp-for="CanadianEducation" asp-items="Model.EducationsInCanada" class="form-control"></select>
                </div>
            </div>


            <div class="form-group">
                  <div class="col-xs-12 col-md-6">
                      <label asp-for="CanadianArrangedEmployment">Do you have arranged employment in Canada (valid job offer)?</label>
                    <span class="help-block">
                        Your valid job offer must be classified in the National Occupational Classification (NOC) as Skill Type 0, or Skill Level A or B
                        and not be from an embassy, high commission or consulate in Canada. It must be also full-time, paid work.
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/offer-employment.html" target="_blank ">Check</a>
                        other requirements that the job offer must meet to be valid.
                    </span>
                    <span class="help-block">
                        Your valid job offer must be supported by a Labour Market Impact Assessment (LMIA).
                        <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/offer-employment/lmia-exempt.html" target="_blank ">Check</a>
                        the exclusions for this requirement.
                    </span>
                </div>
                <div class="col-xs-12 col-md-3">
                    <select asp-for="CanadianArrangedEmployment" asp-items="Model.EmploymentInCanada" class="form-control"></select>
                </div>
            </div>


            <div class=" form-group">
                <label asp-for="CanadianProvincialOrTerritorialNomination" class="col-xs-12 col-md-6">Have you got provincial or territorial nomination? </label>
                <div class="col-xs-12 col-md-2">
                    <input asp-for="CanadianProvincialOrTerritorialNomination" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="SpouseExist">
                        Do you have spouse or common - law partner who will be included in your application under Express Entry?
                    </label>
                    <span class="help-block"> <strong>Warning:</strong> If your spouse or common - law partner is citizen or permanent resident of Canada can not be included in your application under Express Entry.</span>
                </div>
                <div class="col-xs-12 col-md-2">
                    <input asp-for="SpouseExist" onclick="showHideSpouseExist(this)" />
                </div>
            </div>

            <div style="display:none" id="spouseExistForm">
                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label asp-for="SpouseEducationLevel">Please select the level of education of spouse or common-law partner. </label>
                        <span class="help-block">(Choose one of the eight options)</span>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            If your spouse or common-law partner earned degree, diploma or certificate outside Canada, it will be needed to get an Educational Credential Assessments
                            (ECA) for your spouse's or common-law partner's degree, diploma or certificate from designated organizations (ECA report must not be more than five years old.).
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/education-assessed.html" target="_blank">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @foreach (var item in Model.EducationLevels)
                        {
                            <div class="radio">
                                <label><input asp-for="SpouseEducationLevel" type="radio" value="@item.Value" /> @item.Text</label>
                            </div>
                        }
                        <span asp-validation-for="SpouseEducationLevel" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label asp-for="TypeOfSpouseExam">What type of exam did your spouse or common-law partner pass?</label>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            Your spouse or common-law partner must take an approved language test to be eligible for Express Entry!
                        </span>
                        <span class="help-block">
                            Read more about approved language test:
                            <a href="https://www.ielts.org/" target="_blank">IELTS</a>,
                            <a href="https://www.celpip.ca/" target="_blank">CELPIP</a>,
                            <a href="https://www.lefrancaisdesaffaires.fr/tests-diplomes/test-evaluation-francais-tef/tef-canada/" target="_blank">TEF</a>.
                        </span>
                        <span class="help-block">
                            Your spouse's or common-law partner's test results must be less than two years old. <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/language-requirements/language-testing.html" role="button" target="_blank">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <select asp-for="TypeOfSpouseExam" asp-items="Model.ExamTypes" class="form-control" onchange="showhideTypeOfSpouseExam(this)"></select>
                    </div>
                </div>


                <div style="display:none" id="spouseExamPointsForm">
                    <div class="form-group">
                        <label asp-for="SpouseSpeakingPoints" class="col-xs-12 col-md-6"> How many points did your spouse or common-law partner get for speaking?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseSpeakingPoints" min="0" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseSpeakingPoints" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpouseWritingPoints" class="col-xs-12 col-md-6">How many points did your spouse or common-law partner get for writing?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseWritingPoints" min="0" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseWritingPoints" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpouseReadingPoints" class="col-xs-12 col-md-6">How many points did your spouse or common-law partner get for reading?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseReadingPoints" min="0" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseReadingPoints" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpouseListeningPoints" class="col-xs-12 col-md-6">How many points did your spouse or common-law partner get for listening?</label>
                        <div class="col-xs-12 col-md-2">
                            <input asp-for="SpouseListeningPoints" min="0" class="form-control" />
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <span asp-validation-for="SpouseListeningPoints" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        <label asp-for="SpouseCanadianExperience">How many years of skilled work experience in the Canadian labour market has your spouse or common-law partner in the last ten years?</label>
                        <span class="help-block">
                            <strong>Warning:</strong>
                            To be eligible for Express Entry, your spouse's or common-law partner's work experience (occupation) must be classified in the National Occupational Classification
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/find-national-occupation-code.html" target=" _blank">(NOC)</a>.
                        </span>
                        <span class="help-block">
                            Your spouse's or common-law partner's work experience must also be paid work and classified as Skill Type 0, or Skill Levels A or B.
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank ">Read more</a>
                        </span>
                        <span class="help-block">
                            Your spouse's or common-law partner's work experience is calculated after having completed the full year worked. If your spouse or common-law partner has worked less than a year, choose "none or less than a year". There is no rounding up.
                            1 year full time (1,560 hours total) means
                            30 hours/week for 12 months (full-time work which could be performed for more then one employer) or
                            15 hours/week for 24 months (part-time work)
                            <a href="https://www.canada.ca/en/immigration-refugees-citizenship/services/immigrate-canada/express-entry/become-candidate/eligibility/federal-skilled-workers.html" target="_blank ">Read more</a>
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <select asp-for="SpouseCanadianExperience" asp-items="Model.YearsOfCanadianExperience" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn btn-lg btn-primary center-block">Calculate</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-warning" style="margin-top:25px">
            <strong>Disclaimer!</strong> The information contained within the Express Entry Calculator is provided for information purposes only.
            Nothing contained in the Express Entry Calculator is to be used as professional advice and the Express Entry Calculator is not a substitute
            for the advice of a qualified Canadian immigration lawyer. The creator of the Express Entry Calculator does not accept any liability
            for any loss or damage incurred by use of or reliance on the Express Entry Calculator or the information contained therein and cannot
            guarantee and assumes no legal liability or responsibility for the accuracy or completeness of the information.
        </div>
    </div>
</div>

