@model PointsSummaryViewModel
@{
    ViewData["Title"] = "Summary";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="spis">
    <ol>
        <li>
            <h3>Points earned by you in section A. Core / human capital factors:</h3>
            <ul>
                <li><h5>Points for age: @Model.PointsForAge</h5></li>
                <li><h5>Points for education: @Model.PointsForEducation</h5></li>
                <li><h5>Points for 1st language:@Model.PointsForFirstLanguage</h5></li>
                <li><h5>Points for second language:</h5></li>
                <li><h5>Points for experience in the Canadian labour market: </h5></li>
            </ul>
        </li>

        <li>
            <h3>Points earned by spouse or common-law partner in section B. Spouse or common-law partner factors:</h3>
            <ul>
                <li><h5>Points for education of spouse or common-law partner:</h5></li>
                <li><h5>Points for language of spouse or common-law partner:</h5></li>
                <li><h5>Points for experience of spouse or common-law partner:</h5></li>
            </ul>
        </li>

        <li> <h3>Points earned by you in section C. Skill transferability factors:</h3></li>

        <li> <h3>Points earned by you in section D. Additional points:</h3> </li>
    </ol>
</div>
